@import "reset";
@import "adaptive";

@mixin styles($fw, $fs, $lh, $clr){
    font-weight: $fw;
    font-size: $fs;
    line-height: $lh;
    color: $clr;
}

.white{
    background-color: #EEEFF1;;
} 
.blue{
    background-color: #34547A;
}



$gray: #727272;
$blue: #34547A;

a {
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container{
    max-width: 1150px;
    margin: 0 auto;
}


.header{
    padding: 40px 0;
    &.active{
        margin-bottom: 15px;
    }
    &-nav{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999;
        width: 100%;
        height: 100px;  
        background-color: #EEEFF1;
        display: flex;
        justify-content: space-around;
        align-items: center;
        @include breakpoint(xl) {
            height: 120px;
        }
        &.active{
            height: 170px;
            @include breakpoint(sm) {
                height: 270px;
                text-align: center;
            }
        }
        &__img{
            @include breakpoint(xl) {
                margin-bottom: 15px;
            }
            @include breakpoint(xl) {
                padding-bottom: 0 !important;
            }
        }
        &__burger{
            display: none;
            @include breakpoint(xl) {
                margin-top: -30px;
            }
            @include breakpoint(md) {
                display: block;
                position: relative;
                width: 30px;
                height: 20px;
            }
            & span {
                content: '';
                background-color: #000000;
                position: absolute;
                width: 100%;
                height: 2px;
                left: 0;
                top: 9px;
            }
            &.active span{
                display: none;
            }
            &::after{
                @include breakpoint(md) {
                    content: '';
                    background-color: #000000;
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    left: 0;
                    top: 0;
                    transition: all 0.3s ease 0s;
                } 
            }
            &.active::after{
                transform: rotate(45deg);
                top: 9px;
                transition: all 0.3s ease 0s;
            }
            &::before{
                @include breakpoint(md) {
                    content: '';
                    background-color: #000000;
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    left: 0;
                    bottom: 0;
                    transition: all 0.3s ease 0s;
                } 
            }
            &.active::before{
                transform: rotate(-45deg);
                bottom: 9px;
                transition: all 0.3s ease 0s;
            }
        }
        @include breakpoint(xl) {
            display: flex;
            flex-direction: column;
    
        }
    }
    &-nav__items{
        @include breakpoint(xl) {
            margin-top: -30px;
        }
        @include breakpoint(md) {
            display: none;
        }
        &.active{
            display: block !important;
            padding-top: 15px;
            @include breakpoint(sm) {
                display: flex !important;
                flex-direction: column
            }
        }

    }
    &-nav__item{
        @include styles(500, 16px, 26px, #000000);
        padding-left: 42px;
        letter-spacing: 0.1em;
        &:hover{
            color: $blue;
            transition: all .1s;
        }
        @include breakpoint(xl) {
            padding: 0 15px 0 19px;
        }
    }
    &-nav__img{
        img{
            max-width: 90px;
        }
        @include breakpoint(xl) {
            padding-bottom: 20px;
        }
    }
    &-info{
        padding: 135px 0;
        display: flex;
        justify-content: space-between;
        @include breakpoint(lg) {
            margin-top: 50px !important;
        }
        &__img{
            align-self: center;
            padding-left: 80px;
            img{
                max-width: 357px;
                @include breakpoint(sm) {
                    max-width: 200px;
                }
            }
            @include breakpoint(lg) {
                padding: 0;
            }
        }
        @include breakpoint(xl) {
            display: flex;
            justify-content: space-evenly;
        }
        &__text{
            max-width: 541px;
            @include breakpoint(xl) {
                width: 400px;
            }
            @include breakpoint(sm) {
                max-width: 270px;
            }
            .info-text__title{
                @include styles(500, 48px, 79px, #000000);
                padding-bottom: 50px;
                @include breakpoint(lg) {
                    @include styles(500, 40px, 40px, #000000);
                    padding: 20px 0;
                }
                @include breakpoint(xs) {
                    @include styles(500, 30px, 30px, #000000)
                }
            }
            .info-text__suptitle{
                @include styles(400, 16px, 26px, $gray);
                padding-bottom: 80px;
                @include breakpoint(sm) {
                    padding-bottom: 30px;
                }

            }
            .info-text__btn{
                @include styles(400, 16px, 26px, #FFFFFF);
                background-color: $blue;
                padding: 20px 35px;
                transition: background .2s;
                &:hover{
                    color: $blue;
                    background-color: #fff;
                    transition: background .2s;
                }
                @include breakpoint(xs) {
                    @include styles(400, 13px, 20px, #FFFFFF);
                    padding: 15px 25px;
                }
            }
            @include breakpoint(lg) {
                margin: 0 auto;
            }
        }
        @include breakpoint(lg) {
            flex-direction: column;
            text-align: center;
            margin: 0 auto;
            padding: 50px 0;
        }
    }
}


.wd{
    margin: 0 auto;
    text-align: center;
    max-width: 540px;
    padding: 90px 0;
    @include breakpoint(sm) {
        max-width: 270px;
    }
    &-title{
        @include styles(500, 32px, 38px, #000000);
        padding-bottom: 40px;
    }
    &-suptitle{
        @include styles(400, 16px, 26px, $gray);
        
    }
}


.project {
    display: flex;
    justify-content: space-between;
    padding: 80px 0;
    &-item{
        display: flex;
        flex-direction: row;
        align-items: center;
        &__img{
            padding-right: 20px;
            img{
                max-width: 50px;
            }
        }
        .item-text__title{
            @include styles(500, 21px, 25px, #FFFFFF)
        }
        .item-text__suptitle{
            @include styles(400, 16px, 26px, #FFFFFF)
        }
        @include breakpoint(xl) {
            text-align: center;
            margin: 0 auto;
            padding-bottom: 30px;
        }
    }
    @include breakpoint(xl) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    @include breakpoint(lg) {
        grid-template-columns: repeat(2, 1fr);
        width: 400px;
        margin: 0 auto;
    }
    @include breakpoint(sm) {
        grid-template-columns: repeat(1, 1fr);
        width: auto;
    }
}


.skills{
    padding: 90px 0; 
    display: flex;
    justify-content: space-between;
    &-text{
        align-self: center;
        width: 445px;
        &__title{
            @include styles(500, 32px, 38px, #000000);
            padding-bottom: 45px;
        }
        &__progress{
            display: flex;
            flex-direction: column;
            label{
                padding-bottom: 15px;
            }
            progress {
                background-color: #EEEFF1;
                width: 100%;
                height: 4px;
                margin-bottom: 25px;
              }
        }
        @include breakpoint(sm) {
            max-width: 300px;
        }
        @include breakpoint(xs) {
            max-width: 260px;
        }
    }
    &-img{
        img{
            max-width: 555px;
            @include breakpoint(sm) {
                max-width: 100%;
            }
        }
        @include breakpoint(xl) {
            padding-top: 40px;
        }
    }
    @include breakpoint(xl) {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}

progress::-webkit-progress-bar {
    background-color: #C4C4C4;
    border-radius: 7px;
  }
  progress::-webkit-progress-value {
    background-color: $blue;
    border-radius: 7px;
  }


.video-block {
    padding-bottom: 90px;
    @include breakpoint(xl) {
        width: 800px;
        margin: 0 auto;
    }
    @include breakpoint(xl) {
        width: 400px;
    }
    @include breakpoint(sm) {
        width: 100%;
    }
    iframe {
        @include breakpoint(xl) {
            height: 200px;
            margin: 0 auto;
            text-align: center;
            align-items: center; 
        }
        @include breakpoint(xs) {
            height: 150px;
        }
    }
}


.works{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    &-img{
        position: relative;
        height: 480px;
        height: 100%;
        &:hover:before{
            content: '';
            background-image: url(../img/works/eye.png) ;
            background-position: center;
            background-repeat: no-repeat;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: #34537a56;
        }
        img{
            width: 480px;
            width: 100%;
            height: 480px;
            height: 100%;

        }
    }
    @include breakpoint(md) {
        grid-template-columns: repeat(2, 1fr);
    }
    @include breakpoint(xs) {
        grid-template-columns: repeat(1, 1fr);
    }
    
}


.microsoft{
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
    img{
        @include breakpoint(xl) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);

            margin: 0 auto;
        }
        @include breakpoint(xs) {
            max-width: 200px;
        }
    }
    @include breakpoint(xl) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

    }
    @include breakpoint(md) {
        grid-template-columns: repeat(1, 1fr);
    }
}


.message{
    max-width: 540px;
    margin: 0 auto;
    padding-bottom: 100px;
    &-title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        &__name{
            border: none;
            padding: 15px 80px 15px 15px;
            @include breakpoint(sm) {
                max-width: 250px;
                margin: 0 auto;
                margin-bottom: 20px;
            }
            @include breakpoint(xs) {
                max-width: 230px;
            }
        }
        &__email{
            border: none;
            padding: 15px 80px 15px 15px;
            @include breakpoint(sm) {
                max-width: 250px;
                margin: 0 auto;
            }
            @include breakpoint(xs) {
                max-width: 230px;
            }
        }
        @include breakpoint(sm) {
            display: flex;
            flex-direction: column;
        }
    }
    &-suptitle{
        padding: 20px 0 50px 0;
        @include breakpoint(sm) {
            max-width: 300px;
            margin: 0 auto;
            margin-top: 30px;
        }
        @include breakpoint(xs) {
            max-width: 250px;
        }
        &__text{
            border: none;
            width: 100%;
            padding: 15px 0 150px 15px;
        }
    }
    &-btn{
        text-align: center;
    }
    &-btn a{
        @include styles(400, 14px, 23px, #FFFFFF);
        background-color: $blue;
        letter-spacing: 0.15em;
        padding: 20px 45px;
        transition: background .2s;
        &:hover{
            color: #34547A;
            background-color: #fff;
            transition: background .2s;
        }
        &:hover a{
            transition: background .2s;
            cursor: pointer;
        }
        @include breakpoint(xs) {
            @include styles(400, 13px, 20px, #FFFFFF);
            padding: 15px 25px;
        }
    }
}

.copyright{
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    @include breakpoint(sm) {
        display: flex;
        flex-direction: column;
        text-align: center;
        
    }
    &-text{
        &__title{
            @include styles(500, 21px, 25px, #FFFFFF);
            padding-bottom: 15px;
        }
        &__suptitle{
            @include styles(400, 13px, 21px, #FFFFFF);
            @include breakpoint(sm) {
                margin-bottom: 30px;
            }
        }
    }
    &-images{
        align-self: center;
        &__img{
            padding-left: 20px;
            @include breakpoint(sm) {
                padding-left: 0;
            }
        }
    }
    @include breakpoint(xl) {
        justify-content: space-evenly;
    }
}